<div class="container" *ngIf="!showDetails">
  <div class="row"> 
    <div class="col-lg-6">
    <div *ngFor="let clinic of clinics; let i=index; let even=even" (click)="displayDetails(i)">
      <div class="card" *ngIf="even">
        <div class="card-body"  >
          <h4 class="card-title">{{clinic.name}}</h4>
          <p class="card-text">
            <img [src]=clinic.imgUrl>
            {{clinic.about.slice(0,350)}} ...
          </p>
        </div>
        <div class="card-footer">
          {{clinic.branch}}
        </div>
      </div>
    </div>  
    </div>
    <!-- /.col-md-6 -->
    <div class="col-lg-6">
    <div *ngFor="let clinic of clinics; let i=index; let odd=odd" (click)="displayDetails(i)">
      <div class="card" *ngIf="odd" >
        <div class="card-body" >
          <h4 class="card-title">{{clinic.name}}</h4>
          <p class="card-text">
            <img [src]=clinic.imgUrl>
            {{clinic.about.slice(0,350)}} ...
          </p>
        </div>
        <div class="card-footer">
          {{clinic.branch}}
        </div>
      </div>
    </div>
 
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->
<app-clinic-details *ngIf="showDetails" [clinic]="clinics[index]"    (event)=" goBack($event)"></app-clinic-details>