<div class="container">
    <div class="row">
      <div class="col-lg-6">
        
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Clinic 1</h4>
            <p class="card-text">
              <img src="../../../assets/images/clinicX7.jpg">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            
            <div class="link-container">
              <a href="#" class="card-link">details</a>
              <a href="#" class="card-link">Fully Booked</a>
            </div>
            
          </div>
        </div>
  
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Clinic 2</h4>
            <p class="card-text">
              <img  src="../../../assets/images/clinicX2.jpg">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
  
  
            <div class="link-container"> 
              <a href="#" class="card-link">details</a>
              <a href="#" class="card-link">Fully Booked</a>
            </div>
  
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Clinic 3</h4>
  
            <p class="card-text">
              <img  src="../../../assets/images/clinicX3.jpg">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
  
            <div class="link-container"> 
              <a href="#" class="card-link">details</a>
              <a href="#" class="card-link">Book appointment</a>
            </div>
  
          </div>
        </div>
       
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Clinic 3</h4>
  
            <p class="card-text">
              <img  src="../../../assets/images/clinicX4.jpg">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
  
            <div class="link-container">
              <a routerLink="/patient/clinic" class="card-link">details</a>
              <a href="#" class="card-link">Fully booked</a>
            </div>
  
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Clinic 4</h4>
  
            <p class="card-text">
              <img  src="../../../assets/images/clinicX5.jpg">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
  
  
            <div class="link-container">
              <a routerLink="/patient/clinic" class="card-link">details</a>
              <a href="#" class="card-link">Fully Booked</a>
            </div>
  
          
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Clinic 5</h4>
  
            <p class="card-text">
              <img  src="../../../assets/images/clinicX1.jpg">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
  
            <div class="link-container"> 
              <a routerLink="/patient/clinic" class="card-link">details</a>
              <a href="#" class="card-link">Book Appointment</a>
            </div>
            
          </div>
        </div>
       
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->